In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

from sklearn import utils

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier, BaggingClassifier, GradientBoostingClassifier, RandomForestClassifier

In [3]:
df = pd.read_csv('yield.csv')

In [4]:
df

,batch_id,Country,Year,country_code,Land_type,National_Yield,World_Yield,Yield_Factor
0,90,Afghanistan,1961,2,Crop Land,1.322890,2.10610,0.628124
1,90,Afghanistan,1961,2,Grazing Land,2.670000,6.19000,0.431341
2,90,Afghanistan,1961,2,Marine Fishing Grounds,0.000000,503.83600,0.000000
3,90,Afghanistan,1961,2,Inland Fishing Grounds,0.000000,0.00000,1.000000
4,90,Afghanistan,1961,2,Forest Land,0.637266,1.81878,0.350381
...,...,...,...,...,...,...,...,...
72349,91,Zimbabwe,2016,181,Grazing Land,4.920000,6.19000,0.794830
72350,91,Zimbabwe,2016,181,Marine Fishing Grounds,0.000000,503.83600,0.000000
72351,91,Zimbabwe,2016,181,Inland Fishing Grounds,0.000000,0.00000,1.000000
72352,91,Zimbabwe,2016,181,Forest Land,0.159317,1.81878,0.087595
72353,91,Zimbabwe,2016,181,Infrastructure,0.000000,0.00000,0.166661

In [5]:
df.isnull().sum()

batch_id             0
Country              0
Year                 0
country_code         0
Land_type            0
National_Yield    1181
World_Yield       1095
Yield_Factor         0
dtype: int64

In [6]:
df.fillna(0,inplace = True)

In [7]:
df.isnull().sum()

batch_id          0
Country           0
Year              0
country_code      0
Land_type         0
National_Yield    0
World_Yield       0
Yield_Factor      0
dtype: int64

In [8]:
df.columns

Index(['batch_id', 'Country', 'Year', 'country_code', 'Land_type',
       'National_Yield', 'World_Yield', 'Yield_Factor'],
      dtype='object')

In [9]:
df.shape

(72354, 8)

In [10]:
df.drop(['batch_id','country_code','Year'],axis=1,inplace=True)

In [11]:
df.columns

Index(['Country', 'Land_type', 'National_Yield', 'World_Yield',
       'Yield_Factor'],
      dtype='object')

In [12]:
df.Land_type.unique()

array(['Crop Land', 'Grazing Land', 'Marine Fishing Grounds',
       'Inland Fishing Grounds', 'Forest Land', 'Infrastructure'],
      dtype=object)

In [13]:
label_encoder = LabelEncoder()

df['Land_type'] = label_encoder.fit_transform(df['Land_type'])

In [14]:
df.Land_type

0        0
1        2
2        5
3        4
4        1
        ..
72349    2
72350    5
72351    4
72352    1
72353    3
Name: Land_type, Length: 72354, dtype: int64

In [15]:
df.head(3)

       Country  Land_type  National_Yield  World_Yield  Yield_Factor
0  Afghanistan          0         1.32289       2.1061      0.628124
1  Afghanistan          2         2.67000       6.1900      0.431341
2  Afghanistan          5         0.00000     503.8360      0.000000

In [16]:
X = df.drop(['Land_type','Country'],axis=1).copy()
y = df.drop(['National_Yield','Country','World_Yield','Yield_Factor'], axis=1).copy()

In [17]:
X

       National_Yield  World_Yield  Yield_Factor
0            1.322890      2.10610      0.628124
1            2.670000      6.19000      0.431341
2            0.000000    503.83600      0.000000
3            0.000000      0.00000      1.000000
4            0.637266      1.81878      0.350381
...               ...          ...           ...
72349        4.920000      6.19000      0.794830
72350        0.000000    503.83600      0.000000
72351        0.000000      0.00000      1.000000
72352        0.159317      1.81878      0.087595
72353        0.000000      0.00000      0.166661

[72354 rows x 3 columns]

In [18]:
y

       Land_type
0              0
1              2
2              5
3              4
4              1
...          ...
72349          2
72350          5
72351          4
72352          1
72353          3

[72354 rows x 1 columns]

In [19]:
y.shape

(72354, 1)

In [20]:
scaler = StandardScaler()

X = scaler.fit_transform(X)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7)

In [23]:
model = DecisionTreeClassifier()

In [24]:
result = []
model.fit(X_train, y_train)
result.append(model.score(X_test, y_test))

In [25]:
result

[0.9840143732436542]

In [33]:
new_input = [[1.322890, 2.10610 , 0.628124]]

In [34]:
new_output = model.predict(new_input)
print(new_output)

[0]

In [ ]:
#expected = y_test
#expected

In [ ]:
#predicted = model.predict(X_test)
#predicted

In [ ]:
#df1 = df.loc[[67004]]
#df1

In [35]:
import pickle

In [37]:
pkl_file= open('yield_factor.pkl',"wb")

In [38]:
pickle.dump(model,pkl_file)

In [39]:
pkl_file.close()